@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root
{
 --azulclaro: #48D6ED;
 --azuloscuro: #337AB7;
 --azulnegro: #303342;
 --negro: #333333;
 --negro2: #000;
 --gris: #B2B3B3;
 --fondo: #FFFEFC;
 --verdeazul: #157A8A;
 --Magenta: #9C2759;
 --blanco: #fff;
 --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
 
*{
 margin:0;
}
body
{
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
}
 
 h1,h2,h3,h4,h5
 {
 font-family: 'Marcellus', serif;
 }

.item
 {
 padding: 1rem;
 }
 nav
 {
    background-color: #000;
 }
 nav a
 {
    color: var(--blanco);
    text-decoration: none;
    
 }
 nav a:hover
 {
    color: var(--blanco);
    text-decoration: none;
    text-align: center;
    justify-content: center;
 }
 .menu.outside
 {
    display: flex;
    justify-content: space-around;
    
 }
.imagen 
{
    background-image: url(/img/balotas.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}
.Indicaciones 
{
    display: flex;
    justify-content: center;
    font-size: 1.6em;
    color: white;
    text-align: center;
    padding-top: 7em;
}
.resultado
{
   display: flex;
    justify-content: center;
    font-size: 1.6em;
    color: white;
    text-align: center;
    padding-top: 2em;
}
.balls 
{ 
   display: flex; 
   flex-direction: column; 
   justify-content: center; 
   padding-top: 6%; 
}
.balota1
{
   border-radius: 50%;
   background-color: red;
   width: 35px;
   padding-left: 10px;
}
.balota2
{
   border-radius: 50%;
   background-color: red;
   width: 35px;
   padding-left: 10px;
}
.opciones-main 
{ 
   display: flex;
   justify-content: center; 
}
.balota-main 
{ 
   display: flex; 
   justify-content: center;
}
